version: 2
updates:
  # Keep Maven dependencies up to date
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7 # Wait 7 days for any update
      semver-major-days: 14 # Wait 14 days for major version bumps
    groups:
      dev-deps:
        dependency-type: "development"
      prod-deps:
        dependency-type: "production"
  # keep used GitHub Actions up to date
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7
    groups:
      actions-deps:
        patterns:
          - "*"
