<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{150} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- disable JDK internal logging -->
    <logger name="jdk" level="ERROR" />

    <!-- Spring natives and its related frameworks -->
    <logger name="org.springframework" level="INFO" />
    <logger name="_org.springframework" level="INFO" />
    <logger name="org.springdoc" level="INFO" />

    <!-- Embedded Tomcat prints exceptions as DEBUG as part of its normal startup, producing excess log noise -->
    <logger name="org.apache.catalina" level="WARN" />
    <logger name="org.apache.tomcat" level="WARN" />

    <!-- various libraries -->
    <logger name="software.amazon.awssdk" level="INFO" />
    <logger name="org.apache.http" level="WARN" />
    <logger name="org.postgresql" level="WARN" />
    <logger name="org.flywaydb" level="INFO" />
    <logger name="com.zaxxer.hikari" level="WARN" />
    <logger name="io.netty" level="WARN" />
    <logger name="io.awspring.cloud" level="WARN" />
    <logger name="org.hibernate.validator" level="WARN" />
    <logger name="org.mobilitydata" level="WARN" />
    <logger name="org.xnio" level="WARN" />
    <logger name="org.thymeleaf" level="WARN" />

    <!-- ### Testing dependency only log adjustments below ### -->

    <!-- Silence most of Testcontainers internal logging -->
    <logger name="org.testcontainers" level="WARN" />
    <logger name="com.github.dockerjava" level="WARN" />
    <logger name="tc" level="INFO" />
    <logger name="org.junit" level="WARN" />
    <logger name="org.thymeleaf" level="WARN" />

    <root level="trace">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
